<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <link rel="icon" href="{% static 'icons/favicon.png'%} " sizes="16x16 32x32" type="image/png">
    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Avo onepage themeforest" />
    <meta name="description" content="Avo - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>About</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700&amp;display=swap"
        rel="stylesheet">


    <link href="{% static 'assets/css/plugins.css'%} " rel="stylesheet">
    <link href="{% static 'assets/css/style_about.css'%} " rel="stylesheet">


</head>

<body>

  {% include "quiz/navbar.html" %}
 
    <!-- ==================== Start Team ==================== -->

    <section class="team section-padding">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 valign">
                  <div class="full-width">
                      <div class="sec-head custom-font mb-0">
                          <h6>Examination Portal</h6>
                          <h3>Our Team.</h3>
                      </div>
                      <div class="navs mt-30 wow fadeInUp" data-wow-delay=".3s">
                          <span class="prev cursor-pointer">
                              <i class="arrow left"></i>
                          </span>
                          <span class="next cursor-pointer">
                              <i class="arrow right"></i>
                          </span>
                      </div>
                  </div>
              </div>
              <div class="col-lg-8">
                  <div class="team-container">
                      <div class="item wow fadeInUp" data-wow-delay=".3s">
                          <div class="img wow imago">
                              <img src="{% static "img/team/01.jpg" %}" alt="">
                          </div>
                          <div class="info">
                              <h5>Sunny Rajak</h5>
                              <span>Team Member 1</span>
                             
                          </div>
                      </div>
                      <div class="item wow fadeInUp" data-wow-delay=".3s">
                          <div class="img wow imago">
                              <img src="{% static "img/team/02.jpg" %}" alt="">
                          </div>
                          <div class="info">
                              <h5>Dipanjan Datta</h5>
                              <span>Team Member 2</span>
                          </div>
                      </div>
                      <div class="item wow fadeInUp" data-wow-delay=".3s">
                          <div class="img wow imago">
                              <img src="{% static "img/team/03.jpg" %}" alt="">
                          </div>
                          <div class="info">
                              <h5>Anand Sharma</h5>
                              <span>Team Memeber 3</span>
                          </div>
                      </div>
                      <div class="item wow fadeInUp" data-wow-delay=".3s">
                          <div class="img wow imago">
                              <img src="{% static "img/team/4.jpeg" %}" alt="">
                          </div>
                          <div class="info">
                              <h5>Argha Maji</h5>
                              <span>Team Member 4</span>
                          </div>
                      </div>
                      <div class="item wow fadeInUp" data-wow-delay=".3s">
                          <div class="img wow imago">
                              <img src="{% static "img/team/5.jpeg" %}" alt="">
                          </div>
                          <div class="info">
                              <h5>Shaswat</h5>
                              <span>Team Memeber 5</span>
                          </div>
                      </div>
                      <div class="item wow fadeInUp" data-wow-delay=".3s">
                          <div class="img wow imago">
                              <img src="{% static "img/team/6.jpg" %}" alt="">
                          </div>
                          <div class="info">
                              <h5>Dharmesh Harshawal</h5>
                              <span>Team Memeber 6</span>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- ==================== End Team ==================== -->



  <!-- ==================== Start Minimal-Area ==================== -->

  <section class="min-area sub-bg">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="img">
                      <img class="thumparallax-down" src="{% static "img/team.gif" %}" alt="">
                  </div>
              </div>
              <div class="col-lg-6 valign">
                  <div class="content">
                      <h4 class="wow custom-font" data-splitting>About us.</h4>
                      <p class="wow txt" data-splitting>We are Bosses.
                      </p>
                      <ul class="feat">
                          <li class="wow fadeInUp" data-wow-delay=".2s">
                              <h6><span>1</span>Satement 1</h6>
                              <p>somthing </p>
                          </li>
                          <li class="wow fadeInUp" data-wow-delay=".4s">
                              <h6><span>2</span> Satement 2</h6>
                              <p>Somthing here</p>
                          </li>
                          <li class="wow fadeInUp" data-wow-delay=".6s">
                              <h6><span>3</span> Satement 3</h6>
                              <p>Something here</p>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- ==================== End Minimal-Area ==================== -->



  <!-- ==================== Start call-to-action ==================== -->

  <section class="call-action section-padding sub-bg bg-img" data-background="{% static "img/pattern.png" %}">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-lg-9">
                  <div class="content sm-mb30">
                      <h6 class="wow" data-splitting>Think Different</h6>
                      <h2 class="wow custom-font" data-splitting>Work Hard <b>make history</b>.</h2>
                  </div>
              </div>

              <div class="col-md-4 col-lg-3 valign">
                  <a href="/" class="btn-curve btn-blc wow fadeInUp" data-wow-delay=".5s"><span>Start Now</span></a>
              </div>

          </div>
      </div>
  </section>

  <!-- ==================== End call-to-action ==================== -->

  {% include "quiz/footer.html" %}

  <!-- Template Main JS File -->
<script src="{% static 'assets/js/jquery-3.0.0.min.js'%}"></script>
<script src="{% static 'assets/js/plugins.js'%}"></script>
<script src="{% static 'assets/js/scripts.js'%}"></script>


</body>

</html>
